@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&display=swap');



html, body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

}

.navbar{
  padding: .8rem;
}

.nav-link{
  font-size: 1.12m !important;
  /* color: #fdb82b; */
}

.nav-up{
  position: absolute;
}

.nav-margin{
  margin-right: 600px !important;
}

.card-flex{
  text-align: center;
  display: flex;
  justify-content: center  !important;
}

.testimonial-style{
  margin-bottom: 1rem;
  position: absolute;
  top: -20px;
  left: -30px;width: 30%;
}

.star-style{
  margin-bottom: 1rem;
}

.carousel-caption h1{
  margin-right: 20px;
  width: 50%;
  color: black;
  font-size: 400%;
  text-align: left;
  font-weight: bold;
  /* text-transform: uppercase; */
  /* text-shadow: 1px 1px 15px #000; */
}

.carousel-caption h3{
  font-size: 100%;
  font-weight: 300;
  text-align: left;
  width: 50%;
  color: black;
  /* text-shadow: 1px 1px 10px #000; */
  padding-bottom: 1rem;
}

.btn-primary{
  /* transform: translateY(-700%); */
  background-color: #ffaa00;
  border: 1px solid #ffaa00;
  border-radius: 40px;
  margin-top: 2rem;
  margin-left: 280px;
  /* top:  50%; */
}

.btn-primary:hover {
  background-color: #646149;
  border: 1px solid #646149;
}

.remove-pad-ver{
  margin-right: 0 !important;
}
.carousel-caption{
  width: 60%;
  position: absolute;
  margin-bottom: 250px;
}

.main-text{
  width: 40%;
  font-size: 400%;
  margin-left: 270px;
}

.inner-text
{
  font-weight: 200;
  margin-left: 280px;
  text-align: left;
  width: 40%;
  color: black;
}

.carousel-inner{
  width: 40%;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
  /* margin-left: 100; */
}

.card-img-top{
  width: 25%;
  height: 25%;
  align-self: center;
  padding-top: 1rem;
}

.padding{
  padding: 2rem;
}
.lava-margin{
  margin-left: 260px;
}

.header-text-margin{
  margin-top: 4rem;
  margin-bottom: 18rem;
}

.left-bg{
  width: 30%;
  position: absolute;
  z-index: 1;
}
.left-image{
  margin-top: 12rem;
  margin-left: 20rem;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  padding-bottom: 2rem;
}

.vertical-card{
  margin-left: 7rem;
  float: left;
  width: 20%;
}

.card-btn{
  color: #fff;
  background-color: #fd7a32;
  border: 1px solid #fd7a32;
  border-radius: 40px;
  padding: 1rem;

}

.more-about-secondary{
  margin-top: 2rem;
}

.para-card{
  color: #888888;
}

.para-card2{
  color: #fff;
}

.para-card1{
  color: #fff;
}

.vertical-card-text{
  padding-top: 2rem;
  margin-right: 8rem;

}

.display-4{
  font-weight: 500;
}

.about-us{
  margin-top: 6rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

  .secondary-text{
    width: 50%;
    margin-left: 450px;
    color: #878787;
  }


.block-color{
  background-color: #fd574f;
  border-radius: .5rem;
  margin-left: 3rem;
}

.col-12{
  margin-top: 10rem;
  height: 70%;
  width: 100%;
}

.footer-block{
  position: relative;
  width: 32rem;
  height: 24rem;
  margin-top: 17rem;
  background-color:#fff;
  border-radius: .5rem;
  margin-left: 15rem;
  z-index: 2;
}

.footer-button {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  color: #898989;
  font-family: 'Poppins', sans-serif;
  padding-right: 5rem;
}

.email-button{
  background-color: #fff;
  border: 1px solid #f0f0f0;
  color: #898989;
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 8rem;
  padding-right: 19rem;
}

.send-message-button{
  background-color: #f4813f;
  border: 1px solid #f4813f;
  color:#fff;
  font-family: 'Poppins', sans-serif;
  align-self: center;
  margin-top: 1rem;

}

.footer-text{
  border-color: transparent;
  width: 32rem;
  color:#fff;
  height: 24rem;
  margin-top: 17rem;
  background-color:transparent;
  border-radius: .5rem;
  margin-left: 25rem;
  z-index: 2;
}


.social-icons{
  border: #fff;
  border-radius: 50;
  width: 50%;
}

.footer-bottom{
  text-align: center;
  width: 100%;
  color: #fff;
  z-index: 2;
  position: relative;
}

hr.new1 {
  border-top: 1px solid white;
  width: 50%;
}

.dim-text{
  opacity: .15;
  color: #fd574f;
  font-size: 600%;
  margin-left: 3rem;
}

.vertical-card-margin{
  margin-top: 12rem;
  margin-left: 4rem;
}

.footer-email-button{
  margin-left: 1rem;
}

.footer-image{
  z-index: 1;
  position: absolute;
}

.class-abs{
  position: absolute;
  bottom: 0;
}

/* End of Classes */



/* Media Queries */

@media (max-width:1550px) and (min-width:1250px)
{
    .lava-margin{
      margin-left: 150px;
    }
    .main-text{
      margin-left: 150px;
      width: 40%;
      font-size: 400%;
    }

    .inner-text
    {
    font-weight: 200;
    margin-left: 150px;
    text-align: left;
    width: 40%;
    font-size: 150%;
    color: black;
  }

  .btn-primary{

    background-color: #ffaa00;
    border: 1px solid #ffaa00;
    border-radius: 40px;
    margin-top: 2rem;
    margin-left: 150px;
    font-size: medium;
    padding: auto;

  }

  .left-image{
    margin-top: 8rem;
    margin-left: 10rem;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
  }

  .vertical-card-margin{
    margin-top: 4rem;
    margin-left: 4rem;
  }

  .secondary-text{
    margin-left: 200px;
  }

  .footer-block{
    width: 32rem;
    height: 24rem;
    margin-top: 17rem;
    background-color:#fff;
    border-radius: .5rem;
    margin-left: 10rem;
    z-index: 2;
  }

  .footer-text{
    width: 32rem;
    height: 24rem;
    margin-top: 17rem;
    border-radius: .5rem;
    margin-left: 20rem;
    z-index: 2;
  }



}

  @media (max-width: 1425px)
{
  .footer-block{
    width: 32rem;
    height: 24rem;
    margin-top: 17rem;
    background-color:#fff;
    border-radius: .5rem;
    margin-left: 7rem;
    z-index: 2;
  }


}

@media (max-width: 1395px) {
  .vertical-card-margin{
    margin-top: 7rem;
  }

  .left-image{
    margin-top: 8rem;
    margin-left: 10rem;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
  }



}



@media (max-width: 1250px) and (min-width: 995px) {
  .lava-margin{
    margin-left: 120px;
  }


  .vertical-card-margin{
    margin-top: 3rem;
  }
  .card-title{
    font-size: medium;
  }

  .left-image{
    margin-top: 6rem;
    margin-left: 9rem;
    width: 30%;
    height: 30%;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
  }

  .btn-primary{
    margin-left: 120px;
  }
  .dim-text{
    margin-left: 1rem;
  }

  .vertical-card-text{
    padding-top: 2rem;
    margin-right: 4rem;

  }

  .row{
    padding-right: 0;
  }

    .vertical-card{
    width: max-content;
  }

  .main-text{
    margin-left: 120px;
    width: 40%;
    font-size: 300%;
  }

  .inner-text
  {
  font-weight: 200;
  margin-left: 120px;
  text-align: left;
  width: 40%;
  font-size: 120%;
  color: black;
}
.para-card{
  font-size: 15px;
}

.secondary-text{
  margin-left: 230px;
}

.about-us-margin{
  padding: 0;
}
.col-md-3{
  padding: 0;
}

.footer-block{
  width: 28rem;
  height: 20rem;
  margin-top: 17rem;
  background-color:#fff;
  border-radius: .5rem;
  margin-left: 4rem;
  z-index: 2;
}

.footer-text{
  width: 32rem;
  height: 24rem;
  margin-top: 17rem;
  border-radius: .5rem;
  margin-left: 18rem;
  z-index: 2;
}
.more-about-secondary{
  font-size: small;
}
.more-margin{
  font-size: 30px;
}
.footer-button{
  padding-right: 10rem;

}
.footer-email-button{
  margin-left: 0;
  padding-right: 10rem;

}
.email-button{
  margin-top: 0.5rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
}
.send-message-button{
  width: 10rem;
  font-size: small;
}

}

@media (max-width: 1115px) {
  .footer-block{
    width: 25rem;
    height: 20rem;
    margin-top: 17rem;
    margin-left: 2rem;
  }

  .footer-text{
    width: 19rem;
    height: 21rem;
    margin-top: 15rem;
    margin-left: 15rem;
  }

}


@media (max-width: 995px) {
  .lava-margin{
    margin-left: 90px;
  }

  .main-text{
    margin-left: 90px;
    width: 40%;
    font-size: 250%;
  }

  .inner-text
    {
    font-weight: 200;
    margin-left: 90px;
    text-align: left;
    width: 40%;
    font-size: 100%;
  }

  .btn-primary{
    margin-left: 90px;
    font-size: small;
    padding: auto;
  }
  .left-image{
    margin-top: 6rem;
    margin-left: 9rem;
    width: 25%;
    height: 25%;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
  }

  .vertical-card-text{
    padding-top: 2rem;
    margin-right: 4rem;

  }
  .para-card{
    font-size: 10px;
  }

  .secondary-text{
    margin-left: 230px;
  }
  .card-title{
    font-size: medium;
  }
  .card-btn{
    width: 8rem;
    font-size: small;
  }
  .dim-text{
    font-size: 50px;
  }
  .footer-block{
    width: 20rem;
    height: 17rem;
    margin-top: 17rem;
    margin-left: 2rem;
  }

  .footer-text{
    width: 16rem;
    height: 21rem;
    margin-top: 15rem;
    margin-left: 12rem;
  }
  .email-button{
    margin-top: .5rem;
    padding-right: 7rem;
    padding-bottom: 3rem;
  }
  .send-message-button{
    width: auto;
    font-size: small;
  }
  .more-about-secondary{
    font-size: x-small;
  }
  .footer-email-button{
    margin-left: 0;
  }
  .more-margin{
    font-size: 30px;
  }
  .footer-image{
    height: 60%;
  }

}



@media (max-width:770px)
 {


    .lava-margin{
      margin-left: 75px;
    }
    .main-text{
      margin-left: 75px;
      width: 50%;
      font-size: 250%;
      margin-top: 50rem;
    }

    .inner-text
    {
    font-weight: 250;
    margin-left: 75px;
    text-align: left;
    width: 50%;
    font-size: 70%;
  }

  .btn-primary{
    margin-left: 75px;
    font-size: small;
    padding: auto;
  }


  .carousel-inner{
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    margin-top: 5rem;
  }

  .footer-image{
    height: 120%;
  }


  .footer-block{
    width: 25rem;
    height: 20rem;
    margin-top: 17rem;
    background-color:#fff;
    border-radius: .5rem;
    margin-left: 6rem;
    z-index: 2;
  }

  .footer-image{
    height: 90%;
  }

  .col-md-3{
    margin-top: 1rem;
  }
  .header-text-margin{

    margin-bottom: 0;
  }

  .left-image{
    margin-top: 4rem;
    margin-left: 4rem;
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
  }


  .footer-text{
    width: 100%;
    height: 15rem;
    margin-top: 0;
    text-align: center;
    border-radius: .5rem;
    margin-left: 0;
    z-index: 2;
  }

  .vertical-card{
    width: max-content;
  }


}


@media (max-width: 665px)
{
  .main-text{
    margin-left: 75px;
    width: 50%;
    font-size: 250%;
    margin-top: 40rem;
  }

  .left-image{
    margin-top: 6rem;
    margin-left: 10rem;
    width: 60%;
    height: 50%;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
  }

  .left-bg{
  width: 50%;
  position: absolute;
  z-index: 1;
  }

  .display-4{
    font-weight: 300;
  }

  .secondary-text{
    margin-left: 100px;
  }

  .about-us-margin{
    margin-right: 4rem;
    position: relative !important;
  }


  .footer-block{
    width: 25rem;
    height: 25rem;
    margin-top: 17rem;
    background-color:#fff;
    border-radius: .5rem;
    margin-left: 1rem;
    z-index: 2;

  }

  .email-button{
    padding-bottom: 8rem;
    padding-right: 12rem;
  }

  .footer-button {
    font-family: 'Poppins', sans-serif;
    padding-right: 5rem;

  }

  .footer-email-button{
    margin-top: 1rem;
    margin-left: 0;
  }

  .col-12{
    height: 120%;
    width: 100%;
  }

  .footer-text{
    width: 100%;
    height: 17rem;
    margin-top: 0;
    text-align: center;
    border-radius: .5rem;
    margin-left: 0;
    z-index: 2;
  }

  .footer-bottom{
    color: #fff;
    z-index: 2;
    margin-top: 2rem;
    position: relative;
    font-size: small;
    margin-top: 0;
  }

  .col-md-3{
    margin-top: 0;
  }

  hr.new1 {
    margin-top: 0;
  }

  .about-us-margin{
    margin-top: 1rem;
  }
  .what-margin{
    margin-top: 0;
  }

  .footer-image{
    height: 95%;
  }
}



@media (max-width:500px) {
  .main-text{
    margin-left: 50px;
    width: 50%;
    font-size: 200%;
    margin-top: 30rem;
  }

  .left-image{
    margin-top: 6rem;
    margin-left: 10rem;
    width: 40%;
    height: 40%;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
  }

  .footer-block{
    width: 15rem;
    height: 17rem;
    margin-top: 17rem;
    background-color:#fff;
    border-radius: .5rem;
    margin-left: 1rem;
    z-index: 2;

  }


  .inner-text
    {
    font-weight: 250;
    margin-left: 50px;
    text-align: left;
    width: 70%;
    font-size: 90%;
  }

  .btn-primary{
    margin-left: 50px;
    font-size:x-small;
    padding: auto;
  }

  .col-md-3{
    left: 0;
    margin-top: 1rem;
  }


  .footer-block{
    width: 23rem;
    height: 25rem;
    margin-top: 17rem;
    margin-left: 2rem;
    z-index: 2;

  }

  .email-button{
    padding-bottom: 8rem;
    padding-right: 9rem;
  }

  .send-message-button{
    margin-top: .5rem;
  }

  .footer-bottom{
    margin-top: 0;
    font-size:x-small;
  }

  .col-12{
    height: 110%;
  }

  .footer-image{
    height: 100%;
  }

}

@media (max-width: 470px) {
  .main-text{
    margin-top: 30rem;
  }
  .inner-text{
    font-size: 13px;
  }
  .vertical-card{
    width: 70px;
    height: 90px;
  }

  .vertical-card-margin{
    margin-left: 2rem;
    float: left;
  }

  .footer-text{
    height: 10px;
  }
  .footer-bottom{
    margin-top: 15rem;
  }
  .footer-image{
    height: 100%;
  }
  .card-title{
    font-size: small;
    margin-left: 4rem;
  }
  .footer-block{
    width: 18rem;
    height: 18rem;
    margin-top: 17rem;
    margin-left: 1rem;
    z-index: 2;

  }
  .footer-button{
    font-size: small;
  }
  .email-button{
    font-size: small;
    padding-right: 5rem;
    padding-bottom: 3rem;
  }

  .footer-image{
    height: 85%;
  }

}

.col-12{
  padding: 0%;
}

@media (max-width:420px)
{
  .main-text{
    margin-left: 20px;
    width: 60%;
    font-size: 150%;
    margin-top: 27rem;
  }

  .inner-text
    {
    font-weight: 250;
    margin-left: 20px;
    text-align: left;
    width: 70%;
    font-size: 80%;
  }

  .btn-primary{
    margin-top: 1rem;
    margin-left: 20px;
    font-size:x-small;
    padding: auto;
  }

  .col-md-3{
    left: 0;
    padding-left: 0%;
    margin-left: 0%;
    margin-top: 1rem;
  }


  .footer-block{
    width: 15rem;
    height: 15rem;
    margin-top: 5rem;
    margin-left: 0%;
    z-index: 2;

  }

  .email-button{
    margin-top: 0.5rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    font-size: x-small;
  }

  .send-message-button{
    font-size: xx-small;
    margin-top: .5rem;
  }
  .footer-button{
    margin-top: 0.5rem;
    font-size: xx-small;
    margin-bottom: 0%;
    padding-right: 7.5rem;
  }

  .footer-bottom{
    margin-top: 0%;
    font-size:x-small;
  }

  .col-12{
    height: 110%;
  }

  .card-img-top{
    width: 20%;
    height: 20%;
    align-self: center;
    padding-top: 1rem;

  }
 .card-body img#outside-image{
    margin-bottom: 1rem;
    position: absolute;
    top: -20px;
    left: -30px;
    width: 20%;
  }

  .dim-text{
    font-size: 400%;
    margin-left: 3rem;
  }

  .card-title{
    font-size: x-small;
    margin-left: 4rem;
    margin-top: 1rem;
  }
  .para-card{
    font-size: small;
  }

  .card-btn{
    width: auto;
    height: 50%;
    font-size: small;

  }


  .left-image{
    margin-top: 3rem;
    margin-left: 5rem;
    width: 60%;
    height: 50%;
    position: relative;
    z-index: 2;
    padding-bottom: 2rem;
  }

  .left-bg{
    width: 60%;
    }

  .vertical-card{
    width: 70px;
    margin-left: 15%;
  }

  .display-4{
    width: 100%;
    font-size: 200%;
    font-weight: 300;
    }

    .secondary-text{
      margin-left: 60px;
      font-size: small;
    }

    .para-card1{
      font-size: medium;
    }

    .para-card2{
      font-size: x-small;
    }
    .footer-image{
      margin-top: 2rem;
      height: 80%;
    }

    .footer-text{
      width: 100%;
      height: 20rem;
      margin-top: 0;
      text-align: center;
      border-radius: .5rem;
      margin-left: 0;
      z-index: 2;
    }
    .more-margin
    {
      font-size: 30px;
    }

    .more-about-secondary{
      font-size: x-small;
    }

    .bottom-text{
      font-size: xx-small;
    }

}

